body {
    /* --------
         Color Palette
    -------- */

    /* text */
    --text-primary-color: #434455;

    --header-text-color: #2E2F42;
    --navlink-text-color: #2E2F42;
    --navlink-active-color: #4D5AE5;

    /* logo */
    --logo-accent-text-color: #4D5AE5;
    --logo-footer-text-color: #F4F4FD;

    /* backgrounds */

    --background-page-color: #E5E5E5;
    --background-section-primary-color: #FFFFFF;
    --background-section-secondary-color: #F4F4FD;
    --background-section-hero: #2E2F42;
    /*according to color scheme should be rgba(0, 0, 0, 0.05);*/
    --background-footer-color: #2E2F42;


    /* actions */

    --button-main-color: #4D5AE5;
    --button-text-color: #FFFFFF;

    --selector-active-color: #404BBF;
    --selector-inactive-color: #F4F4FD;
    --accent-color: #E7E9FC;
    /*selector border, footer text*/

    --actions-text-white-color: #FFFFFF;
    --actions-text-blue-color: #4D5AE5;

    /* shadows? rgba */

    /* --------
        End of Palette block
    -------- */


    background-color: var(--background-page-color);
    color: var(--text-primary-color);

    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; */

}

/* Utility Classes */

/* common undotted list*/
.list {
    list-style: none;
}


/* common dark item header */
.item-title {
    color: var(--header-text-color);
}

section {
    background-color: var(--background-section-primary-color);
}

/* A little bit positioning. Just for temporary managing of margin overflow */
.section-title {
    color: var(--header-text-color);
}

/* .section-text {

} */

/* links */

.item-link {
    text-decoration: none;
}

/* Just for hover/focused purposes */
.item-link:hover,
.item-link:focus {
    background-color: var(--navlink-active-color);
}

.button {
    color: var(--button-text-color);
    background-color: var(--button-main-color);
}



/* Header Section */

.header {
    background-color: var(--background-section-primary-color);
}

/* Logo Elements*/

.logo {
    text-decoration: none;
}

.logo .logo-accent {
    color: var(--logo-accent-text-color);
}





/* Site Navigation Block */

.navigation-item {
    color: var(--navlink-text-color);
    text-decoration: none;
}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--navlink-active-color);
}


/* Contacts Block*/

.contact-item {
    color: var(--text-primary-color);
    text-decoration: none;
}

.contact-item:hover,
.contact-item:focus {
    color: var(--navlink-active-color);
}

/* Hero Section */

.hero {

    /*according to color scheme should be rgba(0, 0, 0, 0.05), ???*/
    background-color: var(--background-section-hero);

}

.hero-title {
    color: #FFFFFF;
}

/* Strengths Section */


/* Services Section */

.sec-services {
    background-color: var(--background-section-primary-color);
}

/* Team Section */

.sec-team {
    background-color: var(--background-section-secondary-color);
}





/* Footer Section */

.footer {
    color: var(--logo-footer-text-color);
    background-color: var(--background-footer-color);
}


.footer>.logo {
    color: var(--logo-footer-text-color);
}

.footer>.logo:hover,
.footer>.logo:focus {
    color: var(--navlink-active-color);
}

/* .footer-text {

} */